<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Custom styles -->
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/main.css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css" />
<title>CLEAN EXPERT | LISTADO DE PERSONAL</title>
</head>
<body class="bg-light">
	<div class="page-flex">
		<!-- ! Sidebar -->
		<div th:replace="fragments/sidebarAdmin :: sidebarAdmin"></div>
		<div class="main-wrapper">
			<!-- ! Navbar -->
			<div th:replace="fragments/navbar :: navbar"></div>
			<!-- ! Only for table-->
			<div class="bg-primary mt-0 pb-4 position-absolute"
				style="height: 180px; width: 100%; z-index: -4"></div>
			<!-- ! Main -->
			<main class="main position-relative mt-5" id="skip-target">
				<div class="container ">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-12">
							<!-- Page header -->
							<div>
								<div
									class="pb-3 mb-4 d-flex align-items-center justify-content-between">
									<div>
										<h3 class="mb-0 fw-bold text-white">Top 5 clientes</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card rounded-3 shadow-sm border-0 p-4 mb-4">
						<div class="mb-4 row">
							<div class="col-sm-4">
								<form th:action="@{/admin/filterClientReport}" method="post"
									th:object="${filter}">
									<select class="col-sm-12 col-form-label form-label"
										id="id_month" name="id_month">
										<option value="0" th:text="Siempre"	th:selected="(0==*{id_month})"></option>
										<option value="1" th:text="Enero" th:selected="(1==*{id_month})"></option>
										<option value="2" th:text="Febrero"	th:selected="(2==*{id_month})"></option>
										<option value="3" th:text="Marzo" th:selected="(3==*{id_month})"></option>
										<option value="4" th:text="Abril" th:selected="(4==*{id_month})"></option>
										<option value="5" th:text="Mayo" th:selected="(5==*{id_month})"></option>
										<option value="6" th:text="Junio" th:selected="(6==*{id_month})"></option>
										<option value="7" th:text="Julio" th:selected="(7==*{id_month})"></option>
										<option value="8" th:text="Agosto" th:selected="(8==*{id_month})"></option>
										<option value="9" th:text="Setiembre" th:selected="(9==*{id_month})"></option>
										<option value="10" th:text="Octubre" th:selected="(10==*{id_month})"></option>
										<option value="11" th:text="Noviembre" th:selected="(11==*{id_month})"></option>
										<option value="12" th:text="Diciembre" th:selected="(12==*{id_month})"></option>
									</select>
									<div>
										<button class="btn btn-primary mt-2" type="submit" id="filter">
											Filtrar</i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-12">
							<div class="card rounded-3 shadow-sm border-0">
								<div class="card-header bg-white border-bottom-0 py-3">
									<h6 class="mb-0 fw-bold">Top cliente con mas reservas </h6>
								</div>
								<!-- card body -->
								<div class="table-responsive">
									<table class="table text-nowrap">
										<thead class=" table-light">
											<tr>
												<th>#</th>
												<th>Nombre</th>
												<th># Reservas</th>
												<th>S/ Ganancia</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="cli: ${listClientR}">
												<td class="align-middle" th:text="${cli[0]}"></td>
												<td class="align-middle" th:text="${cli[1]+' '+cli[2]}"></td>
												<td class="align-middle" th:text="${cli[3]}"></td>
												<td class="align-middle" th:text="${cli[4]}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>