<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Calificacion</title>
</head>

<body>
	<form th:action="@{/valoration/registerValoration}" method="post" th:object="${valoration}">
		<label for="calificacion">Calificacion</label>
		<input type="text" th:field="*{calification}" id="calificacion"></input>
		
		<label for="comentario">Comentario:</label>
		<input type="text" th:field="*{comment}" id="Comentario"></input>
		
		<button type="submit">Guardar</button>
	</form>
</body>
</html>