<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Insert title here</title>
</head>
<body>
	<nav th:fragment="navbar" class="main-nav--bg shadow-sm">
		<div class="container main-nav">
			<div class="main-nav-start"></div>
			<div class="main-nav-end">
				<div class="sidebar-toggle transparent-btn" title="Menu"
					type="button">
					<span class="bi-list fs-5 text-primary"></span> <span
						class="sr-only">Toggle menu</span>
				</div>
				<div class="dropdown">
					<span class="dropdown-toggle" type="button"
						id="dropdownMenuButton1" data-bs-toggle="dropdown"
						aria-expanded="false"><span th:text="${session.nameUser}"></span> <img
						class="rounded-circle"
						th:src="@{/img/personal.png}" height='30'></img>
					</span>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<li>	
							<form  th:action="@{/logout}" method="post">
								<button class="dropdown-item" type="submit" >
									<a class="dropdown-item">Cerrar sesión</a>
								</button>
							</form>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</nav>
	<div class="bg-primary mt-0 pb-4 position-absolute"
		style="height: 180px; width: 100%; z-index: -4"></div>
</body>
</html>