<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<aside th:fragment="sidebar" class="sidebar bg-dark">
		<div class="sidebar-start">
			<div class="sidebar-head">
				<a href="#" class="logo-wrapper" title="Home"> <img
					src="./img/logo.png" alt="" height="60" />
				</a>
				<div class="sidebar-toggle bg-transparent" type="button">
					<span class="bi-list fs-5 text-white"></span> <span class="sr-only">Toggle
						menu</span>
				</div>
			</div>
			<div class="sidebar-body">
				<ul class="sidebar-body-menu list-unstyled">
					<li><a class="text-decoration-none" href="/"><span
							class="icon bi bi-card-checklist fs-5" aria-hidden="true"></span>Mis
							reservas</a></li>
					<li><a class="text-decoration-none" href="/"><span
							class="icon bi bi-bookmark-plus-fill fs-5" aria-hidden="true"></span>Reservar</a>
					</li>
					<li><a class="show-cat-btn text-decoration-none" href="##">
							<span class="icon bi bi-geo-alt-fill fs-5" aria-hidden="true"></span>Mis
							direcciones <span class="category__btn transparent-btn"
							title="Open list"> <i
								class="bi bi-arrow-down-circle-fill text-white-50"></i>
						</span>
					</a>
						<ul class="cat-sub-menu ms-4 list-unstyled">
							<li><a class="text-decoration-none" href="posts.html">Listado</a>
							</li>
							<li><a class="text-decoration-none" href="new-post.html">Agregar</a>
							</li>
						</ul></li>
					<li><a class="show-cat-btn text-decoration-none" href="##">
							<span class="icon bi bi-person-badge-fill fs-5"
							aria-hidden="true"></span>Mi perfil <span
							class="category__btn transparent-btn" title="Open list"> <i
								class="bi bi-arrow-down-circle-fill text-white-50"></i>
						</span>
					</a>
						<ul class="cat-sub-menu ms-4 list-unstyled">
							<li><a class="text-decoration-none" href="posts.html">Ver</a>
							</li>
							<li><a class="text-decoration-none" href="new-post.html">Editar</a>
							</li>
						</ul></li>
				</ul>
			</div>
		</div>
	</aside>
</body>
</html>