<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<aside th:fragment="sidebarAdmin" class="sidebar bg-dark">
		<div class="sidebar-start">
			<div class="sidebar-head">
				<a href="#" class="logo-wrapper" title="Home"> <img
					th:src="@{/img/logo.png}" alt="" height="60" />
				</a>
				<div class="sidebar-toggle bg-transparent" type="button">
					<span class="bi-list fs-5 text-white"></span> <span class="sr-only">Toggle
						menu</span>
				</div>
			</div>
			<div class="sidebar-body">
				<ul class="sidebar-body-menu list-unstyled">
					<li><a class="text-decoration-none"
						th:href="@{/admin/staff/list}"><span
							class="icon bi bi-person-lines-fill fs-5" aria-hidden="true"></span>Personal
							de limpieza</a></li>

					<li><a class="show-cat-btn text-decoration-none" href="##">
							<span class="icon bi bi-person-workspace fs-5" aria-hidden="true"></span>Administradores
							<span class="category__btn transparent-btn" title="Open list">
								<i class="bi bi-arrow-down-circle-fill text-white-50"></i>
						</span>
					</a>
						<ul class="cat-sub-menu ms-4 list-unstyled">
							<li><a class="text-decoration-none" th:href="@{/admin/list}">Listado</a></li>
							<li><a class="text-decoration-none" th:href="@{/admin/register}">Agregar</a></li>
						</ul></li>

					<li><a class=" text-decoration-none"
						th:href="@{/parameter/list}"><span class="icon bi bi-map fs-5"
							aria-hidden="true"></span>Parametros</a></li>

					<li><a class="show-cat-btn text-decoration-none" href="##">
							<span class="icon bi bi-person-workspace fs-5" aria-hidden="true"></span>Reportes
							<span class="category__btn transparent-btn" title="Open list">
								<i class="bi bi-arrow-down-circle-fill text-white-50"></i>
						</span>
					</a>
						<ul class="cat-sub-menu ms-4 list-unstyled">
							<li><a class="text-decoration-none" th:href="@{/admin/prueba}">Personal</a></li>
							<li><a class="text-decoration-none" th:href="@{/admin/clientReport}">Cliente</a></li>
							<li><a class="text-decoration-none" th:href="@{/admin/prueba1}">General</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</aside>
</body>
</html>