<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/client/registerClient}" method="post" th:object="${client}">
		<label for="usuario">Nombre:</label>
		<input id="usuario" placeholder="Ingrese su usuario" th:field="*{name}" type="text"/>
		<label for="password">Apellido:</label>
		<input id="password" placeholder="Ingrese su contraseña" th:field="*{lastname}" type="text"/>
		<input id="password" placeholder="Ingrese su contraseña" th:field="*{user.username}" type="text"/>
		<input id="password" placeholder="Ingrese su contraseña" th:field="*{user.password}" type="text"/>
		
		<button type="submit">
			guardar
		</button>
	</form>
</body>
</html>