<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Favicon -->
<link rel="shortcut icon" href="./img/svg/logo.svg" type="image/x-icon" />
<!-- Custom styles -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/main.css}" rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css" />
<title>CLEAN EXPERT</title>
</head>
<body class="bg-light">
	<div th:replace="fragments/masterSesion :: masterSesion"></div>
	<div class="page-flex">
		<div class="main-wrapper">
			<!-- ! Main -->
			<main class="main position-relative d-flex" id="skip-target">
				<div class="row" style="width: 100%">
					<div class="col-6 background-image-client"></div>
					<div class="col-6">
						<div class="d-flex justify-content-center align-items-center"
							style="height: 100vh">
							<div class="container w-50 p-3">
								<div class="mt-5">
									<h4 class="principal-title text-dark fs-2 ">Iniciar Sesion</h4>
								</div>
								<div class="">
									<form th:action="@{/login}" method="post"
										th:object="${user}">
										<div class="row mb-2">
											<div class="row">
												<label for="usuario"
													class="col-sm-12 col-form-label
	                                            form-label">Usuario*</label>

											</div>
											<div class="row">
												<div class="col-sm-12 mb-2 mb-lg-0">
													<input id="usuario" class="form-control"
														required="required" placeholder="Ingrese su usuario"
														th:field="*{username}" type="text" />
												</div>
											</div>
										</div>
										<div class="row mb-4">
											<div class="row">
												<label for="password"
													class="col-sm-12 col-form-label
	                                            form-label">Contraseña*</label>

											</div>
											<div class="row">
												<div class="col-sm-12 mb-2 mb-lg-0">
													<input id="password" class="form-control"
														required="required" placeholder="Ingrese su contraseña"
														th:field="*{password}" type="password" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="row">
												<div class="col-sm-12 mb-2 mb-lg-0">
													<button type="submit"
														class="btn btn-primary form-control px-4">
														Ingresar</button>
												</div>
											</div>

										</div>
									</form>

								</div>

							</div>
						</div>
					</div>

				</div>


			</main>
		</div>
	</div>


	<script type="text/javascript" th:src="@{/js/feather.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>
</html>